h1 {
  color: #78c9a1;
}
h2 {
  color: #78c9a1;
}
p {
  color: #78c9a1;
  Font-size: 20px;
  margin-left: 200px
}
.header {
	Wigth: 30%;
	background-image: url(http://67.media.tumblr.com/tumblr_li5xepnxvR1qammkn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 35%;
}
.content
margin-left: 20%;
margin-top: 100xp;
img {width: 30%}

.a{color: #78c9a1}